---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Soy un profesional comprometido y responsable, con 28 años de edad y una pasión por la tecnología y el desarrollo. Actualmente resido en Colombia y cuento con experiencia en diversas tecnologías y aplicaciones, entre las que se incluyen:
      <br />
      <br />
      
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>React Native</li>
        <li>Next.js</li>
        <li>TypeScript</li>
        <li>VTEX</li>
        <li>Nodejs</li>
      </ul>
    </p>
  
    <p class="text-sm font-light">
      Más allá de la programación, tengo una serie de pasatiempos que me llenan de energía y me ayudan a equilibrar mi vida. Soy un gran aficionado al anime, disfruto seguir deportes de lucha, me encanta hacer senderismo y explorar espacios naturales, así como acampar para conectar con la naturaleza y desconectar del día a día.
    </p>
  </div>
</Card>
