---
import Card from "../components/Card.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BottomLayout from "../layouts/BottomLayout.astro";
import TopLayout from "../layouts/TopLayout.astro";


---

<BaseLayout
  title="Portfolio"
  description="Projects and some clone's that I did"
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        Proyectos
      </h2>
    </TopLayout>
    <BottomLayout size="xl">
      <div class="flex w-full flex-wrap justify-center gap-2">
       <ProjectCard
        class="w-full sm:w-2/5"
        
       />
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
